<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/texts.js') }}"></script>
    <title>Add Data</title>
</head>

<body>
    <h1>Add Data</h1>
    <form action="">
        <textarea id="data-text" class="materialize-textarea"></textarea>
        <p>
            <label>
                <input type="checkbox" id="checkbox-1" />
                <span>Feuer</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" id="checkbox-2" />
                <span>Mord</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" id="checkbox-3" />
                <span>Überfall/Körperverletzung</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" id="checkbox-4" />
                <span>Unfall</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" id="checkbox-5" />
                <span>Drogen</span>
            </label>
        </p>
        <input style="color: #eee" class="btn waves-effect waves-light" type="button" value="Submit"
            onclick="createAndReload()">
    </form>
</body>

</html>