<!DOCTYPE html>
<html lang="en">

<head>
    <title>Data Annotator and Model Tester - Tatorte</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>Tatorte - Data Annotator and Model Tester</h1>
    <a href="/texts/1" class="waves-effect waves-light btn-large">view data</a>
    <a href="/data-checker" class="waves-effect waves-light btn-large">check data</a>
    <a href="/add-data" class="waves-effect waves-light btn-large">add new data</a>
    <a href="/change-data" class="waves-effect waves-light btn-large">change existing data</a>
    <hr>
    <a href="/new-model" class="waves-effect waves-light btn-large">New Model</a>
    <a href="/models" class="waves-effect waves-light btn-large">View Models</a>
    <a href="/get_predictions" class="waves-effect waves-light btn-large">Test Model</a>
</body>

</html>