<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>New Model</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/new_model.js') }}"></script>
</head>

<body>
    <h1>New Model</h1>
    <select onchange="changeOptions()" id="clf" class="browser-default">
        <option value="" disabled selected>Choose your option</option>
        <option value="sgd">SGD</option>
        <option value="svm">SVM</option>
        <option value="nn">NN</option>
    </select>
    <br>
    <form id="clf_options">

    </form>
    <br>
    <div id="vect_options">
        <div class='input-field col s6'><label>ngram_range 1</label><input type='number' step='1' id="ngram_1"
                value="1"></div>
        <div class='input-field col s6'><label>ngram_range 2</label><input type='number' step='1' id="ngram_2"
                value="4"></div>
    </div>
    <br>
    <div class='input-field col s6'><label>Values per category</label><input type='number' step='1'
            id="values_per_category" value="900">
    </div>
    <div class='input-field col s6'><label>Test Size</label><input type='number' max="1" min="0" step='0.01'
            id="test_size" value="0.3"></div>
    <br>
    <button onclick="trainModel()" class="waves-effect waves-light btn-large">Train Model</a>

</body>

</html>