<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Tatorte: </h1>
    <div class="container">
        <ul>
            {% for idx, (title, pred, prob, color) in titles %}
            <li><a style="background: {{  color  }}" href="http://localhost:5000/{{ idx }}">{{ title }}</a> <b>{{ pred
                    }} - - {{
                    prob }}</b></li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>